#content{flex-grow: 1;
   overflow: auto;
   height: 70%;
   position: absolute;
   width: 80%;
   }

td {

    text-align:center;
}
.bt{
   background:#2b6777 ;
   color:#c8d8e4
}
.bt:hover{
   
   color:white;
}