<div class="col-12 p-2 m-auto">
    <form [formGroup]="form" (ngSubmit)="onSubmit()">
        <div class="form-group"style="margin:10px 0px;">
          <label>أسم الكورس</label>
          <input [(ngModel)]="course.name"type="text"formControlName="name"class="form-control"[ngClass]="{ 'is-invalid': submitted && f['name'].errors }"placeholder="ادخل اسم الكورس"/>
  
          <div class="text-danger" *ngIf="errorexist">
            مستخدم بالفعل
           </div>
          <div *ngIf="submitted && f['name'].errors" class="invalid-feedback">
            <div *ngIf="f['name'].errors['required']">مطلوب</div>
            <div *ngIf="f['name'].errors['minlength']">
              لا يقل عن 3 حروف
            </div>
          </div>
        </div>
    
        <div class="form-group"style="margin:10px 0px;">
          <label>السعر</label>
          <input
          [(ngModel)]="course.price"
            type="number"
            formControlName="price"
            class="form-control"
            [ngClass]="{ 'is-invalid': submitted && f['price'].errors }"
          />
          <div *ngIf="submitted && f['price'].errors" class="invalid-feedback">
            <div *ngIf="f['price'].errors['required']">مطلوب</div>
            <div *ngIf="f['price'].errors['pattern']">الرقم غير صحيح</div> 
          </div>
        </div>

        <div class="form-group"style="margin:10px 0px;">
            <label>الخصم</label>
            <input
            [(ngModel)]="course.discount"
              type="number"
              formControlName="discount"
              class="form-control"
              [ngClass]="{ 'is-invalid': submitted && f['discount'].errors }"
            />
            <div *ngIf="submitted && f['discount'].errors" class="invalid-feedback">
              <div *ngIf="f['discount'].errors['pattern']">الرقم غير صحيح</div> 
            </div>
          </div>
    
    
          <div class="form-group"style="margin:10px 0px;">
            <label>وصف الكورس</label>
            <input [(ngModel)]="course.description"
            type="text"
            formControlName="description"
            class="form-control"
            [ngClass]="{ 'is-invalid': submitted && f['description'].errors }"
            placeholder="ادخل الوصف"/>
            <div *ngIf="submitted && f['description'].errors" class="invalid-feedback">
              <div *ngIf="f['description'].errors['required']">مطلوب</div>
              <div *ngIf="f['description'].errors['minlength']">
                لا يقل عن 3 حروف
              </div>
            </div>
          </div>

          <div class="form-group"style="margin:10px 0px;">
            <label>عدد الفديوهات</label>
            <input
            [(ngModel)]="course.numberofvideos"
              type="number"
              formControlName="numberofvideos"
              class="form-control"
              [ngClass]="{ 'is-invalid': submitted && f['numberofvideos'].errors }"
            />
            <div *ngIf="submitted && f['numberofvideos'].errors" class="invalid-feedback">
              <div *ngIf="f['numberofvideos'].errors['required']">مطلوب</div>
              <div *ngIf="f['numberofvideos'].errors['pattern']">الرقم غير صحيح</div> 
            </div>
          </div>

          <div class="form-group"style="margin:10px 0px;">
            <label>عدد الساعات</label>
            <input
            [(ngModel)]="course.numberofhours"
              type="number"
              formControlName="numberofhours"
              class="form-control"
              [ngClass]="{ 'is-invalid': submitted && f['numberofhours'].errors }"
            />
            <div *ngIf="submitted && f['numberofhours'].errors" class="invalid-feedback">
              <div *ngIf="f['numberofhours'].errors['required']">مطلوب</div>
              <div *ngIf="f['numberofhours'].errors['pattern']">الرقم غير صحيح</div> 
            </div>
          </div>
          <div class="form-group"style="margin:10px 0px;">
            <label>عدد الفديوهات</label>
            <input
            
            type="file"accept="image/*"name="img" 
            (change)="uploadPhoto($event)"
              [(ngModel)]="course.imgpath"
              formControlName="imgpath"
              class="form-control"
              [ngClass]="{ 'is-invalid': submitted && f['imgpath'].errors }"
            />
            <div *ngIf="submitted && f['imgpath'].errors" class="invalid-feedback">
              <div *ngIf="f['imgpath'].errors['required']">مطلوب</div>
            </div>
          </div>
    
        <div class="form-group ">
          <button type="submit"*ngIf="course.id==0"  class="btn btn-success" style="margin:5px 5px ;">أضافه</button>
          <button type="submit"*ngIf="course.id!=0" class="btn btn-success" style="margin:5px 5px ;">تعديل</button>
        </div>
  
      </form>

</div>